<div class="header fixed-top">
  <div class="container-md">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/logo.png" width="40" alt="Shawn">
        <span class="ml-2" style="font-size: 1.5rem;">Shawn</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{ range .Site.Menus.main.Reverse }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">视频分享</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">用户体验</a>
              <a class="dropdown-item" href="#">产品设计</a>
            </div>
          </li> -->
        </ul>
        <div class="my-2 my-lg-0 rightIconWrap">
          <span class="iconfont icon-dengpao mr-3"></span>
          <span class="iconfont icon-sousuo" id="searchIcon"></span>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" class="form-control" style="font-size: 1.5rem;" id="searchInput" placeholder="请输入搜索关键字">
      </div>
      <div class="modal-body">
        <div class="text-center">暂无搜索结果</div>
      </div>
    </div>
  </div>
</div>