@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1751595627117') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e6a7";
}

.icon-weibo1:before {
  content: "\e6b2";
}

.icon-xingzhuang6:before {
  content: "\e664";
}

.icon-github2:before {
  content: "\e79e";
}

.icon-top:before {
  content: "\e653";
}

.icon-yanchurili:before {
  content: "\e78c";
}

.icon-dashang2:before {
  content: "\e617";
}

.icon-sousuo:before {
  content: "\e625";
}

.icon-dengpao:before {
  content: "\e90a";
}

