<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="stylesheet" href="https://gw.alipayobjects.com/os/k/font/lxgwwenkaiscreenr.css" crossorigin="anonymous">
{{ partial "head/linkScss" "style/common.scss" }}
<link rel="stylesheet" href="/iconfont/iconfont.css">
<script type="text/javascript" src="/lib/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/lib/javascript/bootstrap.bundle.min.js"></script>
{{ partial "head/linkJs" "javascript/common.js" }}
